@import './var.styl'
header 
  height: 80px 
  display flex 
  background-color: main-color
  position: fixed 
  top: 0 
  left: 0 
  width: 100vw
  z-index: 9
  box-shadow: 0 0 8px rgba(#000, 0.4)
  .header-logo
    flex-grow: 1
    padding: 15px 20px
    img.logo 
      width: 300px
  
  .header-btns
    padding: 0 20px
    .fa-bars
      font-size: 30px
      color: #fff
      line-height: 80px