@import './Footer'
@import './Header'
* 
  box-sizing: border-box
body 
  // background-color: #eee
  font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei", 'Titillium Web', sans-serif;
  letter-spacing: 1px
  main
    // padding: 40px 0
    margin-top: 80px

    .card-wrap
      padding: 15px

  .pageTitle 
    font-size: 28px 
    text-align: center
  .listItem 
    background-color: #eee 
    border-radius: 5px 
    padding: 15px
    margin-bottom: 20px
    height: 200px
  .cardItem 
    margin-bottom: 30px
    .md-card .md-card-media
      height: 200px 
      overflow: hidden
      display: flex 
      align-items: center 
      justify-content: center
       




.slide-fade-enter-active {
  transition: all .3s ease-in-out;
}
.slide-fade-leave-active {
  transition: all .3s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100%);
}