@import './Footer'
@import './Header'
@import './Home'
* 
  box-sizing: border-box
body 
  // background-color: #eee
  font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei", 'Titillium Web', sans-serif;
  letter-spacing: 1px
  main
    // padding: 40px 0

  .title 
    font-size: 26px 
    margin-bottom: 20px
    text-align: center
  // .container
  //   margin: 0 auto
  //   width: 960px
  //   padding: 15px
  //   @media(max-width: 1000px)
  //     width: 780px
  //   @media(max-width: 768px)
  //     width: 100%
  .pageTitle 
    font-size: 28px 
    text-align: center
  .listItem 
    background-color: #eee 
    border-radius: 5px 
    padding: 15px
    margin-bottom: 20px
    height: 200px
  .cardItem 
    margin-bottom: 30px
    .md-card .md-card-media
      height: 200px 
      overflow: hidden
      display: flex 
      align-items: center 
      justify-content: center
       